.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

form {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 20px;
	display: inline-block;
}

input, label {
	width: 48%;
	margin-bottom: 15px;
	display: block;
	float: left;
}